/* アニメーション */
@keyframes el1Anime {
  from {
    height: 0px;
    background-color: #FCE063;
  }
  to{
    height: 100%;
    padding: 30px;
    background-color: #FCE063;
  }
}
@keyframes el2Anime {
  from {
      height: 0px;
      background-color: #D7BBFF;
  }
  to{
      height: 100%;
      background-color: #D7BBFF;
      padding: 30px;
  }
}
@keyframes el3Anime {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes itemAnime {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
