
body{
    overflow-x: hidden;
    /* position: relative;
    top:-300px; */
    height:100%;
    width: 100%;
    font-family: Arial;
}
div{
    display: block;
}

.background-2color{

    width: 100%;
    height: 100%;
    display: flex;
}

.background_left {
    

    width: 50%;
    height: 100%;
    background-color: rgb(252,224,99);
    background-color: #FCE063;
    animation-name: el1Anime;
    animation-duration: 1800ms;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-word;
  
}

.background_right {
    
    width: 50%;
    height: 100%;
    background-color: rgb(215,187,255);
    animation-delay: 1000ms;
    /* display: inline-block; */
    background-color: #D7BBFF;
    animation-fill-mode: forwards;
    animation-name: el2Anime;
    animation-duration: 2500ms;
    vertical-align: top;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-word
  

}
.iphone{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 33%;
    /* margin: 0 auto; */
    transform: rotate(67deg);

		animation-name:itemAnime;
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;
		-webkit-animation-delay: 2400ms;
		animation-delay: 2400ms;
			animation-fill-mode: forwards;
			opacity:0;
    /* margin: 0 auto; */


}

.catchcopy{
    z-index: 2;
    height: 40%;
    position: absolute;
    bottom: 7%;
    left: 3%;

		animation-name:itemAnime;
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;
		-webkit-animation-delay: 2400ms;
		animation-delay: 2400ms;
			animation-fill-mode: forwards;
			opacity:0;
}

.prducts_title-area{
    z-index: 9;
    /* width: 100%; */
    background-color: #FF6F65;
    position: relative;
    padding: 30px;

}

.news_title-area{
    /* width: 100%; */
    background-color: #FCDB48;
    position: relative;
    padding: 30px;
}
.about_title-area{
    /* width: 100%; */
    background-color: #FFCE4D;
    position: relative;
    padding: 30px;
}
.center-content{
    width: 100%;
    height: 100%;
    text-align: center;
}
.introduce-container{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.introduce-message{
    width: 800px;
    height: 500px;
    /* background-image: url('../img/words/about_message.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 100px;
    


}
.introduce-visual{
    width: 700px;
    height: 700px;
    /* background-image: url('../img/other/desk.png'); */
    background-size: contain;
    background-repeat: no-repeat;


    
}
.contact_title-area{
    /* width: 100%; */
    /* height: 120px; */
    background-color: #FDAEFD;
    /* box-shadow: 0px 10px 6px -3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 10px 6px -3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 6px -3px rgba(0,0,0,0.3); */
    position: relative;
    padding: 30px;
}



.title{
    height: 55.28px;


}
.title_about{
    /* width: 100%; */
    height: 63px;
    margin-left: 80px;
    background-image: url(../img/words/ABOUT@3x.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.title_about::before{
    content: '';
    background-image: url(../img/sweets/candy.png);
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    right: 78px;
    bottom: 12px;
}
.title_products{
    /* width: 100%; */
    height: 63px;
    margin-left: 80px;
    background-image: url(../img/words/PRODUCTS@3x.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

}
.title_products::before{
    content: '';
    background-image: url(../img/sweets/ice.png);
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    right: 78px;
    bottom: 18px;
}
.title_news{
    /* width: 100%; */
    height: 63px;
    margin-left: 80px;
    background-image: url(../img/words/NEWS@3x.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.title_news::before{
    content: '';
    background-image: url(../img/sweets/ice2.png);
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    right: 86px;
    bottom: 9px;
}
.title_contact{
    /* width: 100%; */
    height: 63px;
    margin-left: 80px;
    background-image: url(../img/words/CONTACT@3x.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.title_contact::before{
    content: '';
    background-image: url(../img/sweets/ice3.png);
    display: inline-block;
    width: 90px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    right: 92px;
    bottom: 16px;
}

.title_icon_ice1{
    height: 82px;
    position: relative;
    top: 12px;
    left: 30px;
}
.title_icon_ice2{
    height: 84px;
    position: relative;
    top: 12px;
    left: 8px;
}
.title_icon_ice3{
    height: 96px;
    position: relative;
    top: 12px;
    left: 5px;
}
.section {
    width: 100%;
    height: 100%;
  }
section{
    overflow: hidden;
}

.section-top{
    width: 100%;
    height: 100%;
}
.section-product{
    background-color: rgb(255,182,177);

}
.section-news{
    background-color: rgb(253, 236, 159);

}
.section-about{
    background-color: #F9E8A8;
}
.section-contact{
    background-color: rgb(254, 214, 254);
}
.section-content{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.slide-and-introduce{
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
    position: relative;
    top: 80px;

}
.product-introduce{
    display: table-cell;

}
.product-introduce > h1{
    display: inline;
}
.product-slide{
    display: table-cell;
}
.product-logo{
    width: 50%;
    position: relative;
    top: 200px;
    left: 100px;
}
.product-introduce-text{
    width: 50%;
    position: relative;
    top: 273px;
    left: 100px;
}
/* ↓はslick.jsのテストcss */
.container{
    width: 50%;
    margin-left: 200px;
    /* margin-top: 100px; */
}
.single-item{
    width: 100%;
    height: 100%;
}
.slick-slide {
    text-align: center;
    color: #419be0;
    background: white;
}
.slide_img{
    width: 100%;
    height: 100%;
}
.single-item > div , .single-item > div > img{
    border-radius: 50%;
    border:solid 3px black;
    background-color: skyblue;
}
/*左右の矢印の位置を変える*/
.slick-next {
    width: 100px;
    right:-100px;
    z-index: 990;
    zoom: 4;
}
.slick-prev {
    width: 100px;
    left: 100px;
    z-index: 1000;
    zoom: 4;
}
/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
    border-radius: 50%;
}
.sns{
    width: 300px;
    height: 300px;
    position: relative;
    text-align: center;
    margin-top: 80px;
    background-size: contain;
    background-repeat: no-repeat;
}
.twitter{
    background-image:url('../img/other/twitter.png');
}
.email{
    background-image:url('../img/other/email.png');    
}



.sns-container{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
    

}

.news-container{
    width: 100%;
    margin-top: 80px;
    margin-left: 90px;
}
.news-post{
    padding: 10px;    
    padding-bottom: 20px; 
    width: 900px;
    /* height: 100px; */
    background-color: white;
    border: solid 3px black;
    position: relative;
    margin-top:50px;
}
.news-post-date{
    text-align: center;
    width: 250px;
    height: 30px;
    background-color: white;
    border: solid 3px black;
    position: relative;
    bottom: 31px;
    left: 7px;
    padding: 5px;
    font-size: 26px;
    font-family: Arial;
    font-weight: 550;
}


}
.news-post-content{
    
}

.products-container{
    display: flex;
    flex-direction: column;
    
}
.pyoklog-inner-background{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background-color: #F1DB88;
}
.pyoklog-outer{
    padding: 10px;
    text-align: center;
    width: 700px;
    background-color: white;
    border: solid 5px black;
    margin: 0 auto;
    margin-top: 40px;
}
.pyoklog-inner{
    background-color: #F5DA7A;
    text-align: center;
    
}
.pyoklog-logo{
    width: 400px;
}
.pyoklog-explanation{
    margin: 0 auto;
    width: 710px;
    margin-top: 30px;
}
.genre{
    font-family: Arial;
    font-size: 22px;
    color: #808080;
    
}

.pyoklog-passage{
    font-family: Arial;
    font-size: 18px;
    color: #808080;
    letter-spacing: 1px;
    line-height: 30px;
    margin-top: 15px;
    

   
}
.pyoklog-button{
    text-align: center;
    color: white;
    width: 150px;
    height: 20px;
    background-color: #FF6F65;
    padding: 10px;
    padding-top: 15px;
    font-family: Arial;
    font-size: 18px;
    border-radius: 126px;
    margin: 0 auto;
    position: relative;
    top: 40px;
    
}
.underline-none{
    text-decoration: none;
}

.main {
    /* position: relative; */
  }
  .pager {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0;
  }
.pager >  li {
    z-index: 5;
    display: block;
    margin: 20px;
}
.pager > li > a {
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    border: solid  3px black;
}

.is-current > a{
    background: #232323
    !important;
}
.contact-cotainer{
    width: 100%;
    height: 100%;
    position: relative;
}
.copyright-container{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}


/* キービジュアルの調整 */
@media screen and (max-width: 860px),screen and (min-width:1000px) and (min-height:1200px){

    .background-2color{
        flex-direction: column;
    }
    .background_left{
        width: 100%;
        height: 50%;
    }
    .background_right{
        width: 100%;
        height: 50%;
    }
    .iphone{
        height: 77%;    
        width: auto; 
        transform: rotate(0deg);
    }
    .catchcopy{
        width: 600px;
        height: auto;
        position: absolute;
        bottom: 10%;
        left: 7%;
    }
    @media screen and (max-width: 730px) { 
        .catchcopy{
            width: 570px;
        }
        @media screen and (max-width: 622px) { 
            .catchcopy{
                width: 450px;
                bottom: 20%;                
            }
        @media screen and (max-width: 511px) {
            .catchcopy{
                width: 404px;
                left: 8%;
            }
            @media screen and (max-width: 446px) {
                .catchcopy{
                    width: 360px;
                    bottom: 25%;
                    left: 9%;
                }
                @media screen and (max-width: 391px) {
                    .catchcopy{
                        width: 320px;
                        bottom: 28%;
                        margin-left: 10px;
                    }
                    @media screen and (max-width: 344px) {
                        .catchcopy{
                            width: 270px;
                            margin-left: 10px;
                        }
                        @media screen and (max-width: 315px) {
                            .catchcopy{
                                width: 275px;
                            }
                            @media screen and (max-width: 315px) {
                                .catchcopy{
                                    width: 254px;
                                }
                            }

                        }

                    }

                }
                
            }
            
        }



                                                
            
        }




    }
    /* ipadpro向けの表示 */
    @media screen and (min-width: 1000px) and (min-height:1200px){
        .catchcopy{
            width: 710px;
            position: absolute;
            bottom: 20%;
        }
    } 
}

/* 各タイトルの調整 */
@media screen and (max-width: 560px) {
    /* ABOUT */
    .title_about{
        height: 40px;
        margin-left: 60px;
    }
    .title_about::before{
        width: 55px;
        height: 55px;
        position: relative;
        right: 57px;
        bottom: 10px;
    }
    .about_title-area{
        padding: 18px;
    }

    /* PRODUCTS */
    .title_products{
        height: 40px;
        margin-left: 60px;
    }
    .title_products::before{
        width: 55px;
        height: 55px;
        position: relative;
        right: 52px;
        bottom: 14px;
    }
    .prducts_title-area{
        padding: 18px;
    }

    /* NEWS */
    .title_news{
        height: 40px;
        margin-left: 60px;
    }
    .title_news::before{
        width: 50px;
        height: 50px;
        position: relative;
        right: 53px;
        bottom: 4px;
    }
    .news_title-area{
        padding: 18px;
    }

    /* CONTACT */
    .title_contact{
        height: 40px;
        margin-left: 60px;
    }
    .title_contact::before{
        width: 60px;
        height: 60px;
        position: relative;
        right: 58px;
        bottom: 12px;
    }
    .contact_title-area{
        padding: 18px;
    }

    @media screen and (max-width: 360px) {
        /* ABOUT */
        .title_about{
            height: 28px;
            margin-left: 37px;
        }
        .title_about::before{
            width: 38px;
            height: 38px;
            position: relative;
            right: 36px;
            bottom: 7px;
        }
        .about_title-area{
            padding: 13px;
        }

        /* PRODUCTS */
        .title_products{
            height: 28px;
            margin-left: 37px;
        }
        .title_products::before{
            width: 38px;
            height: 38px;
            position: relative;
            right: 36px;
            bottom: 10px;
        }
        .prducts_title-area{
            padding: 13px;
        }

        /* NEWS */
        .title_news{
            height: 28px;
            margin-left: 37px;
        }
        .title_news::before{
            width: 33px;
            height: 33px;
            position: relative;
            right: 37px;
            bottom: 3px;
        }
        .news_title-area{
            padding: 13px;
        }

        /* CONTACT */
        .title_contact{
            height: 28px;
            margin-left: 37px;
        }
        .title_contact::before{
            width: 42px;
            height: 42px;
            position: relative;
            right: 44px;
            bottom: 10px;
        }
        .contact_title-area{
            padding: 13px;
        }
    }




}


/* CONTACTの項目のレスポンシブ */
@media screen and (max-width: 786px) {
    .sns-container{
        flex-direction: column;
        /* justify-content:space-between; */
        width: 80%;
        height: 450px;
        margin-top: 40px;
    }
    .sns{
        height: 200px;
        width: 200px;        
        margin: 0 auto;
    }
    @media screen and (max-width: 560px) {
        @media screen and (max-height: 569px) {
            .sns{
                height: 150px;
                width: 150px;        
            }
        
        }

    }
    @media screen and (min-height: 710px) {
        .sns-container{
            height: 600px;
        }
    }



    

}


/* procuctsのpyoklog */
@media screen and (min-width: 1000px) {
    @media screen and (max-height: 635px) {
        .products-container{
            width: 90%;
            margin: 0 auto;
            flex-direction: row;
            justify-content: space-around;
        }
        .pyoklog-outer{
            width: 450px;
        }
        .pyoklog-logo{
            position: relative;
            right: 10px;
            bottom: 10px;
        }
        .pyoklog-explanation{
            margin-top: 70px;
                margin-left: 40px;
            width: 600px;
        }
    }
}
@media screen and (max-width: 819px){
    .pyoklog-outer{
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .pyoklog-explanation{
        width: 400px;
    }
    @media screen and (max-width: 617px){
        .pyoklog-outer{
            width: 400px;            
        }
        .pyoklog-logo{
            position: relative;
            right: 20px;
            bottom: 10px;
        }
        @media screen and (max-width: 511px){
            .pyoklog-outer{
                width: 300px;            
            }
            .pyoklog-logo{
                position: relative;
                right: 57px;         
            }
            .pyoklog-explanation{
                width: 350px;
            }
            @media screen and (max-width: 423px){
                .pyoklog-outer{
                    width: 250px;            
                }
                .pyoklog-logo{
                    position: relative;
                    right: 39px;
                    width: 300px;       
                }
                .pyoklog-explanation{
                    width: 250px;
                }
                @media screen and (max-width: 356px){
                    .pyoklog-outer{
                        width: 200px;            
                    }
                    .pyoklog-logo{
                        position: relative;
                        right: 34px;
                        width: 250px;     
                    }
                    .pyoklog-explanation{
                        width: 200px;
                    }
                    
                }
            }
        }
    }
}
@media screen and (max-width:1000px){
    @media screen and (max-height:599px){
        .pyoklog-explanation{
            zoom: 0.8;
        }
    }
}


/* NEWSの調整 */
@media screen and (max-width:1050px){
    .news-post{
        width: 75%;
    }
    @media screen and (max-width:733px){
        .news-post{
            position: relative;
            right: 43px
            
        }
        .news-post-content{
            line-height: 25px;
        }
        @media screen and (max-width:500px){
            .news-post-date{
                width: 150px;
                height: 16px;
                font-size: 18px;
                position: relative;
                bottom: 24px;
                border: solid 2px black;
            }
            .news-post{
                border: solid 2px  black ;
            }

            @media screen and (max-width:355px){
                .news-post-date{
                    width:150px;         
                }
                .news-post-date{
                    font-size: 20px;
                    height: 22px;
                    position: relative;
                    left: 2px;
                }

            }
        }
    }
}